:root, button{
    font-family: 'Press Start 2P', cursive;
    font-size: 62.5%;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.6rem;

}
.game {
    width: 100%;
    height: 100vh;
    border-bottom: 150px solid transparent;
    border-top: 75px solid black;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(#5c94fc, #4f81df);
}
.container, .templateMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    visibility: visible;
    height: 100%;
    justify-content: center;
    gap: 4rem;
}
.templateMenu{
    gap: 4rem;
    background:#cf510c;
    padding: 4rem;
    border: solid black .4rem;
    border-top-color: #fbe3dd;
    border-left-color: #fbe3dd;
    border-radius: .4rem;
}
.templateMenu h1 {
    font-size: 4rem;
    color: #ffc3b8;
    font-weight: bold;
    text-shadow: .1rem .5rem  black;
}
.templateMenu h1:first-child span{
    font-size: 3rem;
    padding-bottom: 2rem;
    display: block;
}
.menuButton ul li{
    color: white;
    font-size: 2rem;
}
.menuButton ul li:hover{
    cursor: pointer;
    list-style-type: "\1F44D";
}
.background-bush{
    height: 90px;
    position: absolute;
    bottom: 0;
    z-index: 1;  
    animation: floor-and-bush-animation 5s infinite linear; 
}
.floor{
    background: url(../Images/background.png);
    background-repeat: repeat-x;
    background-color: black;
    position: absolute;
    width: 200vw;
    height: 150px;
    bottom: 0;
    animation: floor-and-bush-animation 10s infinite linear; 

}
.pipe-game {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 80px;
    animation: enemy-animation 1.5s infinite linear;
}
.goomba{
    height: 32px;
    position: absolute;
    bottom: 0;
    right: -35px;
    z-index: 10;
    animation: enemy-animation 1.5s infinite linear;
    animation-delay: 2.5s;
    justify-content: space-between;
}

.super-mario{
    width: 37.5px;
    height: 61.52px;
    position: absolute;
    bottom: 0;
    margin-left: 100px;
    z-index: 10;
}

.jump-mario {
    animation: mario-animation 500ms ease-out;
}

.cloud-game{
    position: absolute;
    height: 150px;
    top: 10%;
    animation: clouds-animation 30s infinite linear;
}
.game-over{
    animation: mario-dead 5s linear both;
    animation-delay: 1s;
}
@keyframes floor-and-bush-animation {
    from{
        left: 0;
    }
    to{
       left: -100%;
    }
}
@keyframes enemy-animation {
    from {
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes clouds-animation {
    from{
        right: -100%;
    }
    to{
        right: 100%;
    }
}

@keyframes mario-animation{
    0% {
        bottom:0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    70%{
        bottom: 180px;
    }
    100%{
        bottom: 0%
    }

}
@keyframes mario-dead{
    from{
        bottom: 0;
    }
    to{
        bottom: -100%;
    }
}